:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #d3d3d3;
    --orange: #ff6961;
    --green: #e6ffe6;
    --blue: #06AED5;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.btn, button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .add-event {
    all:unset;
  }

/* Target center div for coloring   .row div:nth-child(2)*/
 .nth2 {
    background-color: var(--gray);
  }

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: var(--black);
    /* border-left: 1px solid var(--black); */
    padding: 5px;
  }
    
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    margin-top: 10px;
  }
  
  .hour {
    background-color: #ffffff;
    color: var(--black);
    border-top: 1px dashed var(--black);
  }

  .now-8 #hr-8, 
  .now-9 #hr-9, 
  .now-10 #hr-10, 
  .now-11 #hr-11,
  .now-12 #hr-12,    
  .now-13 #hr-13,
  .now-14 #hr-14, 
  .now-15 #hr-15, 
  .now-16 #hr-16, 
  .now-17 #hr-17, 
  .now-18 #hr-18 {
    background-color: var(--green);
    color: white;
  }

  .now-8 #hr-9,
  .now-8 #hr-10,
  .now-8 #hr-11,
  .now-8 #hr-12,
  .now-8 #hr-13,
  .now-8 #hr-14,
  .now-8 #hr-15,
  .now-8 #hr-16,  
  .now-8 #hr-17,
  .now-8 #hr-18,  
  .now-9 #hr-10,
  .now-9 #hr-11,
  .now-9 #hr-12,
  .now-9 #hr-13,
  .now-9 #hr-14,
  .now-9 #hr-15,
  .now-9 #hr-16,  
  .now-9 #hr-17,
  .now-9 #hr-18,  
  .now-10 #hr-11,
  .now-10 #hr-12,
  .now-10 #hr-13,
  .now-10 #hr-14,
  .now-10 #hr-15,
  .now-10 #hr-16,  
  .now-10 #hr-17,
  .now-10 #hr-18,
  .now-11 #hr-12,
  .now-11 #hr-13,
  .now-11 #hr-14,
  .now-11 #hr-15,
  .now-11 #hr-16,  
  .now-11 #hr-17,
  .now-11 #hr-18,
  .now-12 #hr-13,
  .now-12 #hr-14,
  .now-12 #hr-15,
  .now-12 #hr-16,  
  .now-12 #hr-17,
  .now-12 #hr-18,
  .now-13 #hr-14,
  .now-13 #hr-15,
  .now-13 #hr-16,  
  .now-13 #hr-17,
  .now-13 #hr-18,
  .now-14 #hr-15,
  .now-14 #hr-16,  
  .now-14 #hr-17,
  .now-14 #hr-18,
  .now-15 #hr-16,  
  .now-15 #hr-17,
  .now-15 #hr-18,
  .now-16 #hr-17,
  .now-16 #hr-18,
  .now-17 #hr-18
  {
    background-color: var(--orange);
    color: white;
  }


  .past {
    background-color: var(--gray);
    color: white;
  }
  
  .present {
    background-color: var(--green);
    color: white;
  }
  
  .future {
    background-color: var(--orange);
    color: white;
  }
  

  footer {
    clear: both;
    margin-top: 100px;
    text-align: center;
  }